@model IEnumerable<SecondHandShop1.Models.Nakit>

@{
    ViewBag.Title = "Popis nakita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis nakita</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Novo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterijalNakit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VelicinaNakita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaNakita)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Novo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterijalNakit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelicinaNakita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VrstaNakita)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNakit }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdNakit }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNakit }) |
                @Html.ActionLink("Dodaj u kosaricu", "", new { id = item.IdNakit } )
            </td>
        </tr>
    }

</table>

@section scripts {
    <style>
        /* Stilovi za toast */
        .plava {
            color: blue;
        }
    </style>

    <script>
        $(function () {
            // Funkcija za prikazivanje toasta
            function showToast() {
                // Bootstrap toast
                var toast = `
                                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
                                    <div class="toast-header">
                                        <strong class="mr-auto">Obavijest</strong>

                                    </div>
                                    <div class="toast-body">
                                        Dodano u košaricu
                                    </div>
                                </div>`;

                // Dodaj toast u body i prikaži
                $(document.body).append(toast);
                $('.toast').toast('show');
            }

            // Klik na gumb "Dodaj u košaricu"
            $('.plava').click(function () {
                showToast();
            });

            // Zatvaranje toasta kada se klikne "X"
            $(document).on('click', '.toast .close', function () {
                $(this).closest('.toast').toast('hide');
            });

            // Ukloni toaste nakon što se zatvore
            $(document).on('hidden.bs.toast', '.toast', function () {
                $(this).remove();
            });
        });
    </script>
}
