@model IEnumerable<SecondHandShop1.Models.Odjeca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Novo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materijal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Velicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaOdjece)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Novo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materijal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Velicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaOdjece)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOdjece }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOdjece }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOdjece })
        </td>
    </tr>
}

</table>
